body, html{

    margin: 0;
    padding: 0;
    height: 100%;
}

.banner-img{
    background-image: url("../images/background.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(2px);
}

.panel{

    --words: white;

    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 500px;
    width: 400px;

    .titulo{

        color: var(--words);
        margin-top: 140px;
        font-family: 'Qahiri' sans-serif;
    }

    .textbox input{

        outline: none;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0);
        border: 2px #3498db solid;
        padding: 14px 10px;
        margin: 5px;
    
        width: 200px;
        transition: 0.6s;
        color: var(--words);
    
        text-align: center;
    }
    
    .textbox input:focus{
    
        width: 300px;
        border: 2px #2ecc71 solid;
        color: var(--words);
    }
    
    .textbox input::placeholder{
    
        color: var(--words);
        text-align: center;
    }

    .textbox input::placeholder{
        color: rgb(146, 146, 146);
    }
    
    .panelbutton{

        display: flex;
        align-items: center;
        justify-content: center;
        .calcular button{
    
            margin: 5px;
            border: 2px #2ecc71 solid;
            padding: 14px 10px;
            border-radius: 15px;
        
            background: rgba(0, 0, 0, 0);
            transition: 0.6s;
            width: 100px;
            color: var(--words);
        
            cursor: pointer;
        }
        
        .calcular button:hover{
        
            background: #2ecc71;
            width: 150px;
        }
    }
}